.ctaContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom: 30px;
  width: 100%;
}

.ctaContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
  height: 56px;
  border-radius: 35px;
  background-color: rgb(66 66 69/70%);
  backdrop-filter: blur(5px);
}

.text {
  padding: 16px 0;
  margin: 0 24px;
}

.iconPlus {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 36px;
  height: 36px;
  color: #cfcfcf;
  font-size: 1.3rem;
  line-height: 1;
  background-color: #0171e2;
  border-radius: 50%;
}

.iconPlus:hover {
  cursor: pointer;
  color: #ffffff;
}
